* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}
html {
	scroll-behavior: smooth;

}
.name {
	font-family: 'Potta One';
}
#banner {
	background-image: url('/assets/human_background.jpg');
}
.heroText {
	  background: -webkit-linear-gradient(#333,#eee );
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;

	}
	.pulse:hover {
		transform: scale(1);

	}
	.neonText {
		color: #fff;
		text-shadow:
			0 0 7px #fff,
			0 0 10px #fff,
			0 0 21px #fff,
			0 0 42px #0fa,
			0 0 82px #0fa,
			0 0 92px #0fa,
			0 0 102px #0fa,
			0 0 151px #0fa;
	  }
	/*.threed:hover*/
/*{
        box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}*/
